

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    background-color: transparent;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #151515;
    font-size:13px;
}

thead {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px solid #e94b24;

}

tbody {
    color: #ccc;
        background-color: rgba(0, 0, 0, 0.35);
   font-size:13px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #120e0f url(https://csgonecro.com/assets/www/img/bg.jpg) no-repeat top;
    background-size: 100%;
    color: #ccc;
}

html {
  position: relative;
  min-height: 100%;
    background-color: #120d0e;
    color: #ccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h3 small {
  color: #444444;
}
h4 {
  line-height: 22px;
}
h4 small {
  color: #444444;
}
h5 {
  font-size: 15px;
}
h5 small {
  color: #444444;
}
p {
  line-height: 1.6;
}
* {
  outline: none !important;
}
b {
  font-weight: 600;
}

.table {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    max-width: 80%;
    margin-bottom: 20px;
}

.hellos hr {
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgba(14, 14, 14, 0.31);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.cf-action {
    width: 15%;
    text-align: right;
}

.dark #coinflip-status-online .label-primary {
    background-color: #34495e;
}

#input1 {
    width: 100%;
    height: 40px;
    padding: 15px;
    background-color: #444;
    color: #ddd;
    border-color: #555;
}

#button1 {
display: block;
    background: #08C;
    border: 1px solid rgba(255, 255, 255, 0.19);
    color: white;
    width: 100px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    margin-left: -15px;
}

@font-face {
    font-family: "My Custom Font";
    src: url('assets/fonts/Roboto-Regular.ttf') format("truetype");
}
* { 
    font-family: 13px Helvetica,Arial;
}

#coinflip-window {
    z-index: 2;
    position: absolute;
    left: 50%;
    display: block;
    width: 720px;
    min-height: 300px;
    margin: 0 0 20px -350px;
    background-color: #242424;
    border-radius: 2px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
}

#coinflip-window #coinflip-user {
    width: 700px;
    display: block;
    float: left;
    margin: 10px;
        margin-bottom: -40px;
}

#coinflip-window #coinflip-user #coinflip-user-1 {
    float: left;
    width: 258px;
    text-align: center;
}

#coinflip-window #coinflip-user #coinflip-coin {
    float: left;
    width: 184px;
}

.coinflip-coin.coinflip_winner_2 {
    -webkit-animation: rotate1980 6s linear forwards;
    animation: rotate1980 6s linear forwards;
}

.coinflip-coin {
    position: relative;
    transform-style: preserve-3d;
}

.coinflip-coin .front {
    transform: translateZ(1px);
    border-radius: 50%;
    position: absolute;
}

.coinflip-coin .back {
    transform: translateZ(-1px) rotateY(180deg);
    border-radius: 50%;
    position: absolute;
}

#coinflip-window #coinflip-user #coinflip-user-2 {
    float: left;
    width: 258px;
    text-align: center;
}

#coinflip-window #coinflip-game {
    float: left;
    background-color: #242424;
    padding: 10px;
}


.col-sm-5 {
    width: 31.66666667%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.center-text {
    text-align: center;
    vertical-align: middle;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

ul, ol {
    margin-top: -25px;
    margin-bottom: 10px;
}

.duel-info li {
    padding-right: 20px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.duel-online {
    margin-left: 20px;
}

.top15 {
    margin-top: 15px;
}

.label {
display: inline;
    padding: .3em .6em .3em;
    font-size: 85%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.duel-btn-lg:active, .duel-btn-lg.active {
    background: #2c3e50;
    border-color: #2c3e50;
}

.duel-btn-lg:hover, .duel-btn-lg.hover, .duel-btn-lg:focus, .duel-btn-lg:active, .duel-btn-lg.active {
    color: #fff;
    background-color: #e94b24;
    color: #fff;
}

.create-game-duel button {
    margin-right: 10px;
}

.duel-btn-lg {
    color: #fff;
    background-color: #e94b24;
    color: #fff;
    margin-left: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    padding: 0 20px;
}
.duel-btn-succes {
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    color: #fff;
    background-color: #1a8a49;
    border: none;
}

.dark #noSocket {
    background-color: rgba(20,20,20,0.95);
    border-color: #333;
}

#noSocket {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 100;
    width: 200px;
    margin: 0 auto;
    background-color: rgba(240,240,240,0.95);
    border: 2px solid #ddd;
    font-size: 22px;
    text-align: center;
    padding: 10px 25px;
    display: none;
}

.dark #coinflip-pending-offers-update {
    border: none;
    color: #fff;
    background-color: #3e3d3d;
}

.label-default {
    background-color: #777;
}

.create-game-duel button {
    margin-right: 10px;
}

.duel-btn-lg-white {
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
}

.hellos .hellos-show-footer {
        background-color: #2d2d2d;
        color: #e9e9eb;
}

.hellos-show-footer {
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
    padding: 10px;
    text-align: right;
    background-color: #e9e9eb;
}

#coinflip-window #coinflip-game #coinflip-game-1 {
    float: left;
    width: 270px;
    text-align: center;
}

#coinflip-window #coinflip-game a {
    color: #a9b0d7;
    text-decoration: none;
    font-weight: bold;
}

#coinflip-window #coinflip-game #coinflip-info {
    float: left;
    width: 160px;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

#coinflip-window #coinflip-game #coinflip-game-2 {
    float: left;
    width: 270px;
    text-align: center;
}

#coinflip-window #coinflip-items {
    margin: 20px;
    float: left;
}

#coinflip-window #coinflip-items #coinflip-items-1 {
    float: left;
    width: 330px;
    margin-right: 20px;
}

#coinflip-window #coinflip-items #coinflip-items-2 {
    float: left;
    width: 330px;
}

#coinflip-footer {
    width: 680px;
    padding: 0 20px 20px 20px;
    float: left;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-primary:hover {
    color: #CBD4D6;
    background-color: #286090;
    border-color: #204d74;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #CBD4D6;
    text-decoration: none;
}


.btn-info:hover {
    color: #CBD4D6;
    background-color: #31b0d5;
    border-color: #269abc;
}

.twitter_txt {
    background-color: #2773ae;
    font-family: 'Raleway', Arial, sans-serif;
    margin-right: 0px;
    margin-left: 0px;
    min-height: 45px;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a, a:active, a:focus, a:visited {
    color: #ccc;
    text-decoration: none;
}



.item-card__wrapper {
    margin-bottom: .5rem;
    padding: 0 .25rem;
}

@media (min-width: 544px)
.col-sm-4, .item-card__wrapper, .raffle-detail__picture {
    width: 10%;
}

@media (min-width: 544px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .item-card__wrapper, .raffle-detail__body, .raffle-detail__header, .raffle-detail__log--layout, .raffle-detail__participants--layout, .raffle-detail__picture, .raffle-detail__winner--layout, .raffle-detail__wrapper {
    float: left;
}

.item-card.steam-quality-baseGrade, .item-card.steam-quality-consumerGrade {
    box-shadow: inset 0 0 100px 50px #3d3d3d;
    height: 150px;
    width: 150px;
}


.item-card {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: inset 0 0 100px 50px #3d3d3d;
    border: 1px solid #262627;
    border-right: 1px solid #141414;
}

.item-card__header {
    height: 3.5rem;
    padding: .5rem 1rem 0;
}

.item-card__title_main.steam-category-normal {
    color: #b2b2b2;
}

.item-card__title_main {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.item-card__header small {
    font-weight: 500;
}

.item-card__title_opt {
    display: block;
}

.item-card__image-wrapper {
    padding: 0 .25rem;
    overflow: hidden;
    text-align: center;
}

.item-card__image {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, .5));
    filter: url(/shadow.svg#drop-shadow);
    vertical-align: middle;
    display: inline-block;
    width: 100px;
    height: 50px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.center-block, .item-card__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner>.carousel-item>a>img, .carousel-inner>.carousel-item>img, .img-fluid, .item-card__image {
    display: block;
    max-width: 100%;
    height: 60px;
    width: 100px;
}

.item-card__footer {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
}

.item-card__footer small {
    font-weight: 500;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}


::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgb(52, 73, 94);
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(52, 73, 94);
}

.item-card__image--zoom:hover {
    transform: scale(1.3);
}

.hellos #coinflip-wrapper {
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 500px;
}

.container1{
    overflow: scroll;
    overflow-x: hidden;
    height: 380px;
    margin-left: -2px;
    margin-top: 12px;
    text-align: center;
}
.container2{
    overflow: scroll;
    overflow-x: hidden;
    height: 380px;
    margin-left: -2px;
    margin-top: 12px;
    text-align: center;
}
.botInv {
    overflow: scroll;
    height: 465px;
    width: 980;
    overflow-x: hidden;
    margin-left: -2px;
    margin-top: 12px;
}

.profile-block {
    display: inline-block;
    margin: 0 auto;
    background: #16191e;
    border: 1px solid #272d36;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    color: #728298;
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    position: relative;
}

.Header-Giveaway {
    color: royalblue;
    font-size: 80px;
}

#right-panel.panel-open {
    left: 0;
}

#right-panel {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: #120d0e;
    width: 300px;
    border-left: 3px solid #393031;
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0 10px;
    z-index: 10;
    top: 10%;
}
#chatWindow {
    color: #fff;
    height: 80%;
    position: relative;
}
#chatStatus.online {
    border-bottom: 1px solid #2a2a2a;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
#chatStatus {
    padding: 10px 15px;
    color: #fff;
    text-align: center;
}


.profile-name {
    position: relative;
    font-size: 13pt;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer {
    display: block;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: #151515;
    padding-top: 8px;
    z-index: 10;
    border-top: 4px solid #ddd;
    border-color: #2a2a2a;
}

.footer-info {
    font-family: 'Open Sans', sans-serif;
    color: #586069;
    text-transform: none;
    display: inline-block;
    margin-top: 3px;
    margin-left: 20px;
    font-size: 9pt;
}

.separator {
    display: inline-block;
    width: 1px;
    height: 30px;
    border-left: 1px solid #3a4046;
    margin: 0px 35px 0px 35px;
    position: relative;
    top: 10px;
}

.socials {
    display: inline-block;
}

.footer-menu {
    display: inline-block;
    width: 45%;
    padding-left: 0;
}

.footer-logo {
    width: 96px;
    margin-top: -6px;
}

.chat{
    display: block;
    width: 16%;
    height: calc(55% - 82px);
    position: fixed;
    left: 50px;
    top: 5px;
    background-color: #222222;
    transition: all 1s;
    border: 1px dashed #ddd;
    margin-top: 150px;
    border-color: #444;
    font: 14px Helvetica,Arial;
}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 0.3s;
}

/* Style The Dropdown Button */
.dropbtn {
background-color: transparent;
    color: #eee;
    font-size: 18px;
    border: none;
    cursor: pointer;
        font-weight: 400;
    line-height: 1.42857143;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #432c26;
    right: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu{
        margin-top: 4px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #ccc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background .5s;
    -webkit-transition: .5s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(233, 75, 36, 0.25);text-decoration:none;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
}

.menu{
margin: 0px;
text-transform: uppercase;
    font-size: 14px;
}

.navbar-navv {
    float: left;
    margin: 0;
}

.form-description {
    font-size: 12px;
    padding: 2px;
}

.text-right {
    text-align: right;
}


.chat-buttons {
    background-color: #222;
}

#chatPrefs button {
    margin: 5px;
    margin-right: 100%;
}

.modal-icon {
    text-align: center;
}

.modal-icon i {
    color: #5bc0de;
    font-size: 70px;
    margin: 5px;
}

#chatMessages {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 50px;
    font-size: 0.9em;
    overflow: auto;
}

#chatActions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 10px;
}

.msg{
    padding: 5px 0;
}

input[type=checkbox]:checked + span, input[type=radio]:checked + span {
    border-color: #fe634a;
    background-color: #fe634a;
}
.c-checkbox span, .c-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #3c4349;
    margin-right: 5px;
}
#theMessage {
    font-size: 12px;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    resize: none;
}



#cfRoundView {
    cursor: default;
};

#cfRoundView .verify {
    color: #888;
}

#cfRoundView .col-header {
    width: 132px;
    position: relative;
}

#cfRoundView .col-left {
    float: right;
}

#cfRoundView .col-right {
    float: left;
}

#cfRoundView .col-header .icon {
    position: absolute;
}

#cfRoundView .col-left .icon {
    bottom: -10px;
    left: -10px;
}

#cfRoundView .col-right .icon {
    bottom: -10px;
    right: -10px;
}

#cfRoundView .col-header img.img-user {
    width: 130px;
    height: auto;
    border: 1px solid #eee;
    border-color: #333;
}

#cfRoundView .col-timer {
    text-align: center;
}

#cfRoundView .row-total {
    background-color: #22354d;
}

#cfRoundView .row-header {
    background-color: rgb(35, 35, 35);
    text-align: center;
}

.dark #cfRoundView .row-header .secret i {
    color: #555;
    margin-left: 3px;
}

#cfRoundView .row-item {
    background-color: #202020;
    border-bottom: 2px solid #111;
    font-size: 12px;
    padding: 0;
}

#cfRoundView .row-item .col-item {
    position: relative;
    padding: 0;
    margin: 0 auto;
        padding-left: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



#cfRoundView .row-item .col-item .amount {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#cfRoundView .row-item .col-item .amount .highlight {
    padding: 2px 10px;
    background-color: rgba(50,50,50,0.8);
}

#cfRoundView .row-item .col-name,#cfRoundView .row-item .col-amount {
    padding-top: 15px
}

.dark #coinflip-wrapper .status-row {
    background-color: #282828;
    border-top: 3px solid #444;
}

.dark #coinflip-wrapper .status-row h1,.dark #coinflip-wrapper .status-row h2 {
    color: #888;
}

.dark #coinflip-wrapper .status-row .number {
    color: #aaa;
}

.dark .coinflip-pots {
    background-color: #282828;
    border-top: 3px solid #075f7c;
}

.dark .coinflip-pots th {
    border-bottom: 2px solid #222;
    background-color: #191919;
}


.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.modal-content {
    position: relative;
        background-color: #282828;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-body .row {
    margin: 0;
    padding: 15px;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
}

#cfRoundView .row {
    margin: 0;
}
#cfRoundView .row-total {
    text-align: center;
}

.btnref{
    background: transparent;
    font-size: 13px;
    color: #eee;
    border: transparent;
}

.modal-loading {
    text-align: center;
    padding: 50px 0;
    background-color: transparent;
}

.modal-dialog button.close {
    color: #fff;
    text-shadow: 0 0 3px #111;
}

.inventory-user {
    background-color: #202020;
}

.highlight{
border-radius: 5px;
    background-color: #31708f;
    font-weight: bold;
    padding: 1px 5px 2px 6px;
    color: #fff;
    font-size: 14px;
}

.ofhighlightred{
    background-color: #a94442;
    font-weight: bold;
    padding: 1px 5px;
    color: #fff;
    font-size: 13px;
}

#sendMsg {
    width: 30%;
    float: right;
}



.ofhighlightgreen{
    background-color: #1a8a49;
    font-weight: bold;
    padding: 1px 5px;
    color: #fff;
    font-size: 13px;
}

.divider {
      height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #555;
}

.icon-loading {
    width: 30px;
    height: auto;
}

#coin-flip-cont {
    width: 150px;
    height: 150px;
    position: absolute;
}

#coin {
position: relative;
width: 150px;
transform-style: preserve-3d;
}

#coin .front, #coin .back {
    position: absolute;
    width: 150px;
    height: 150px;
}

#coin .front {
    transform: translateZ(1px);
    border-radius: 50%;
    background-size: cover;
    display: block;
}

#coin .back {
    transform: translateZ(-1px) rotateY(180deg);
    border-radius: 50%;
    background-size: cover;
    display: block;
}

#coin.animation900 {
-webkit-animation: rotate900 3000ms linear forwards; 
animation: rotate900 3000ms linear forwards;
}

#coin.animation1080 {
-webkit-animation: rotate1080 3214ms linear forwards; 
animation: rotate1080 3214ms linear forwards;
}

@-webkit-keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@-webkit-keyframes rotate1080 {
    from {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0)
    }

    to {
        -webkit-transform: rotateY(1080deg);
        -moz-transform: rotateY(1080deg);
        transform: rotateY(1080deg)
    }
}

@keyframes rotate1080 {
    from {
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        transform: rotateY(0)
    }

    to {
        -webkit-transform: rotateY(1080deg);
        -moz-transform: rotateY(1080deg);
        transform: rotateY(1080deg)
    }
}




.WinnerFadeIn {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: wFadeIN 2s;
    -moz-animation: wFadeIN 2s; /* Firefox */
    -webkit-animation: wFadeIN 2s; /* Safari and Chrome */
    -o-animation: wFadeIN 2s; /* Opera */
}
@keyframes wFadeIN {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes wFadeIN { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes wFadeIN { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes wFadeIN { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}